body {
    font-family: 'Poppins', sans-serif;
}

.name-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.hireMeBtn {
    background-image: linear-gradient(orange, tomato);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;

}